body {
	font-size: 16px;
	color: gray;
	background: #111;
	font-family: "Noto Sans", sans-serif;
	margin: 1em;
}

@font-face {
	font-family: rk_coptic;
	src: url("./NotoSansCoptic.ttf");
/* 	src: local("Noto Sans Coptic Regular"); */
/* 	src: local("Noto Sans Coptic"); */
	unicode-range:
		U+03E2-03EF, /* greek and coptic */ 
		U+2C80-2CFF, /* coptic */
		U+0304, /* normal stroke */
		U+0305, /* number, abbr., etc. */
		U+033F, /* double stroke */
		U+0FE24, /* left half stroke */
		U+0FE26, /* long stroke */
		U+0FE25, /* right half stroke */

		U+035E, /* double combine stroke */
		U+0323, /* combine dot under */
		U+0307, /* combine dot over */
		U+0301, /* combine acute */
		U+0300, /* combine grave */
		U+0302, /* combine circumflex pointed */
		U+0311, /* combine circumflex curved */
		U+0361, /* wide inverted breve */
		U+0308, /* combine diaeresis */

		U+00B7, /* middle dot */
		U+2E17, /* slanted double hyphen */
		
		U+1AB4 /* combining triple dot above*/;
}

@font-face {
	font-family: rk_greek;
	src: url("./NotoSans.ttf");
/* 	src: local("Noto Sans"); */
	unicode-range: U+0323, U+0370-03FF, U+1F00-1FFF;
}

@font-face {
	font-family: rk_arabic;
	src: url("./NotoSansArabic.ttf");
/* 	src: local("Noto Sans Arabic"); */
	unicode-range: U+0600–06FF;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
}

h2 {
	color: lightblue;
}

h3 {
	color: limegreen;
}

h4 {
	color: pink;
}

b {
	color: lightgreen;
	font-weight: normal;
}

.container {
	//display: flex;
	flex-direction: row;
	gap: 0 1em;
}

.my_translation {
	display: none;
}

.source_translation {
	
}

.footnotes {
	
}

p {
	font-size: 1.2em;
}

sup.footnote a {
	font-size: .8rem;
	color: violet;
	text-decoration: none;
}

sup.footnote a:before {
	content: "\202f(";
}

sup.footnote a:after {
	content: ")";
}

.coptic {
	font-family: rk_coptic;
	color: white;
}

.coptic pre {
	font-family: inherit;
}

.greek {
	font-family: rk_greek;
	color: yellow;
}

.parenthetical:before,
.parenthetical:after {
	color: gray;
}

.parenthetical:before {
	content: "(";
}

.parenthetical:after {
	content: ")";
}

sup.footnote {
	//display: none;
}

.normalized_text {
	display: none;
}

.footnotes {
	//display: none;
}


a:has(sup) {
	text-decoration: none;
	color: violet;
	unicode-bidi: plaintext;
}

.footnotes ol li::marker {
	color: violet;
}

#footnotes ol {
}

#footnotes li::marker {
	color: lightseagreen;
}

#footnotes a {
	text-decoration: none;
	color: goldenrod;
}

#footnotes li:has(:target) {
	background: #ffb60022;
}
