@import url("../../../styles/styles.css");

fieldset {
	border: 1px solid gray;
}

#interface {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(1, 1fr);
	gap: .5em;
	box-sizing: border-box;
}

#editor_text textarea,
#markup_view pre,
#rendered_view div {
	min-height: 500px;
	//display: block;
	box-sizing: border-box;
	width: 100%;
	border: 1px dashed gray;
}

#editor_text textarea,
#rendered_view div {
	background: #111;
}

#editor_text textarea {
	font-size: 1em;
	font-family: rk_coptic, monospace;
	font-weight: normal;
	resize: none;
	color: gold;
	padding: .5em;
}

i.dialect {
	color: lightblue;
}

#editor_text textarea:focus {
	outline: 1px dashed gold;
	border: none;
}

#markup_view fieldset {
	
}

#markup_view pre {
	margin: 0;
	padding: .5em;
}

#markup_view code {
	font-family: rk_coptic, monospace;
	white-space: pre-wrap;
	tab-size: 1;
}

#rendered_view div {
	
}

/*

#interface {
	display: flex;
	flex-direction: column;
}

#editor_options {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(2, 1fr);
	//width: max-content;
}

legend sup {
	line-height: 0;
}

input[type="radio"] + label {
	//font-size: 1.2em;
}

input[type="radio"] {
	//font-size: 2em;
	//background: purple;
	//scale: 2;
}



#preview {
	display: grid;
}

#preview legend {
	text-transform: uppercase;
	color: steelblue;
}

#preview_rendered {
	color: gold;
	font-size: 1em;
	padding: .5rem;
}

#preview_rendered b {
	color: steelblue;
}

#preview_rendered i {
	color: lightblue;
}

#preview_markup {
	color: lightgreen;
	font-size: 1em;
	padding: .5rem;
}

input {
	width: fit-content;
}

fieldset {
	color: #ffffff66;
	border: 1px dashed #ffffff22;
}

fieldset + fieldset {
	//float: left;
}

fieldset :is(input[type="radio"], label) {
	float: left;
}
fieldset label + input[type="radio"] {
	clear: both;
}

input[type="radio"]:last-of-type {
	//margin-bottom: 1em;
}

fieldset :is(input[type="text"], input[type="submit"]) {
	clear: both;
	display: block;
	margin-top: 2em;
}


#lsaanguage_fieldset {
    grid-column-start: 1;
    grid-row-start: 2;
}

.div4 {
    grid-column-start: 2;
    grid-row-start: 2;
}

.div5 {
    grid-column-start: 3;
    grid-row-start: 1;
}
*/