@import url("../../../styles/styles.css");

#interface {
	display: flex;
	flex-direction: column;
}

#editor_options {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(2, 1fr);
	//width: max-content;
}

legend sup {
	line-height: 0;
}

input[type="radio"] + label {
	//font-size: 1.2em;
}

input[type="radio"] {
	//font-size: 2em;
	//background: purple;
	//scale: 2;
}



#preview {
	display: grid;
}

#preview legend {
	text-transform: uppercase;
	color: steelblue;
}

#preview_rendered {
	color: gold;
	font-size: 1em;
	padding: .5rem;
}

#preview_rendered b {
	color: steelblue;
}

#preview_rendered i {
	color: lightblue;
}

#preview_markup {
	color: lightgreen;
	font-size: 1em;
	padding: .5rem;
}

input {
	width: fit-content;
}

fieldset {
	color: #ffffff66;
	border: 1px dashed #ffffff22;
}

fieldset + fieldset {
	//float: left;
}

fieldset :is(input[type="radio"], label) {
	float: left;
}
fieldset label + input[type="radio"] {
	clear: both;
}

input[type="radio"]:last-of-type {
	//margin-bottom: 1em;
}

fieldset :is(input[type="text"], input[type="submit"]) {
	clear: both;
	display: block;
	margin-top: 2em;
}


#lsaanguage_fieldset {
    grid-column-start: 1;
    grid-row-start: 2;
}

.div4 {
    grid-column-start: 2;
    grid-row-start: 2;
}

.div5 {
    grid-column-start: 3;
    grid-row-start: 1;
}