@import url("../../../styles/styles.css");
@import url("../../styles/styles.css");
@import url("../../../styles/fonts.css");

::selection {
	//color: black;
	//background: white;
}

body {
	display: flex;
	flex-direction: column;
	//grid-template-rows: auto 1fr;
	background: #111111;
	color: grey;
	//font-family: "serif";
	margin: 0;
	padding: 0;
	height: 100dvh;
	outline: none;
	//border: .5em solid #222222;
	//border-top: none;
}

.dialect sup {
	font-size: inherit;
	font-size: .8em;
	padding-left: 0;
}

.dialect.lycopolitan sup {
	font-style: normal;
}

i.dialect {
	color: steelblue;
}

sup {
	line-height: 0;
}

#dictionary ul .entry .definition .headword {
	color: violet;
	font-family: rk_coptic;
	font-size: 1.5em;
	line-height: 0;
}

.greek {
	//font-size: 1.2em;
}

.arabic {
	//font-size: 1.3em;
}

.aramaic {
	//font-size: 1.5em;
}

.headword,
.greek,
.arabic,
.aramaic {
	//line-height: 0;
}

#container {
	display: initial;
	flex-grow: 1;
	//height: 80dvh;
	max-height: 100%;
	overflow-y: auto;
}

h1 {
	color: goldenrod;
	font-size: 1em;
	line-height: 1;
	margin: 0.5em 0em 1em;
}

h1 a {
	color: goldenrod;
}

h2 {
	display: none;
}

p {
	text-align: justify;
	text-indent: 1em;
	margin: 1em 1em 0;
}

header {
	//position: sticky;
	//z-index: 1;
	//top: 0;
	padding: .5em 1em 0;
	box-sizing: border-box;
	height: 20dvh;
	height: fit-content;
	//border-top: .5em solid #222222;
	background: linear-gradient(to right, #111111, #111111);
}

header:before {
	//content: "";
	width: 100%;
	height: 2em;
	position: absolute;
	bottom: 1px;
	left: 0;
	right: 2em;
	background: linear-gradient(to right, transparent, transparent, transparent, #111111);
	pointer-events: none;
}

#menu {
	overflow-x: auto;
	border-bottom: 1px solid gray;
}

#menu > ul {
	display: flex;
	margin: 0;
	padding: 0;
}

#menu > ul > li {
	list-style-type: none;
}

#menu > ul > li:nth-child(2) > ul {
	display: flex;
	//flex-direction: row-reverse;
	justify-content: flex-start;
	flex-wrap: wrap;
	gap: 0 .5em;
	margin: 0;
	padding: 0 .5em;
	width: max-content;
}

#menu > ul > li:nth-child(1) {
	white-space: nowrap;
}

#menu > ul > li:nth-child(1),
#menu > ul > li:nth-child(2) > ul > li {
	//flex-grow:1;
	list-style-type: none;
	border: 1px solid gray;
	border-bottom: none;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	padding: 0 .5em;
	color: #e0c7c7;
	background: #232448;
	//background: green;
	line-height: 2;
}

#menu > ul > li:nth-child(1).active,
#menu > ul > li:nth-child(2) > ul > li.active {
	//order: -1;
	background: #191c7c;
}

#menu > ul > li:nth-child(2) > ul > li.hide {
	display: none;
}

#menu ul li:hover {
	//background: #2f5953;
	cursor: pointer;
}

#menu ul.tall li {
	//padding-bottom: 2em;
}

#menu ul.tall li.second-row {
	//margin-top: -2em;
	//padding-bottom: 0em;
}


:is(#preface,
#list_of_abbreviations,
#additions_and_corrections,
#dictionary,
#english_index,
#greek_index,
#arabic_index).show {
	//height: auto;
	display: initial;
}


#preface,
#list_of_abbreviations,
#additions_and_corrections,
#dictionary,
#english_index,
#greek_index,
#arabic_index {
	//height: 0em;
	//overflow: hidden;
	display: none;
}

#additions_and_corrections ul,
#list_of_abbreviations ul {
	margin: 0;
	padding: 1em;
	list-style-type: none;
}

#preface .signed {
	float: right;
}

#preface .dated {
	float: left;
	text-indent: 0;
}

#preface hr {
	clear: both;
	border: none;
	width: 100%;
	height: 1px;
	background: linear-gradient(to right, transparent, gray, transparent);
	margin-top: 2em;
	display: inline-block
}

#preface .footnotes {
	//text-align: justify;
	margin-top: 1em;
	padding: 0 3em;
}

#preface .footnotes li {
	margin-top: 1em;
}

#preface .footnotes li:target {
	background: #ffb60022;
}

#preface .footnotes li a {
	width: 1em;
	display: inline-block;
}

#list_of_abbreviations > ul > li > ul {
	display: table;
	border-collapse: collapse;
}

#list_of_abbreviations > ul > li > ul > li {
	display: table-row;
}

#list_of_abbreviations > ul > li > ul > li > .cell {
	display: table-cell;
	padding: .2em;
	border: 1px solid #333;
}

#list_of_abbreviations a {
	text-decoration: none;
}

#list_of_abbreviations .abbr {
	color: seagreen;
}

#list_of_abbreviations #all .non-source,
#list_of_abbreviations #all .bible {
	display: none;
}

#list_of_abbreviations {
	--archive: url(../images/archive.jpg);
	--google-books: url(../images/google-books.png);
	--hathi-trust: url(../images/hathitrust.png);
	--jstor: url(../images/jstor_16.png);
	--scribd: url(../images/scribd.ico);
	--uni-bonn: url(../images/uni-bonn.ico);
	--bnf: url(../images/bnf.ico);
	--getty: url(../images/getty.png);
}

#list_of_abbreviations li .cell:has(> a) a:before {
	content: "[↵]";
	color: gold;
	background-size: 16px 16px;
	width: 16px;
	height: 16px;
	display: inline-block;
	vertical-align: middle;
}

#list_of_abbreviations li .cell :is(
	a[href^="https://archive.org/"],
	a[href^="https://books.google.com/"],
	a[href^="https://babel.hathitrust.org/"],
	a[href^="https://www.jstor.org/"],
	a[href^="https://www.scribd.com/"],
	a[href^="https://digitale-sammlungen.ulb.uni-bonn.de/"],
	a[href^="https://gallica.bnf.fr/"],
	a[href^="http://archives.getty.edu"]
	):before {
	content: "";
}

#list_of_abbreviations li .cell a[href^="https://archive.org/"]:before {
	background-image: var(--archive);
	mix-blend-mode: screen;
}

#list_of_abbreviations li a[href^="https://books.google.com/"]:before {
	background-image: var(--google-books);
}

#list_of_abbreviations li a[href^="https://babel.hathitrust.org/"]:before {
	background-image: var(--hathi-trust);
}

#list_of_abbreviations li a[href^="https://www.jstor.org/"]:before {
	background-image: var(--jstor);
}

#list_of_abbreviations li a[href^="https://www.scribd.com/"]:before {
	background-image: var(--scribd);
}

#list_of_abbreviations li a[href^="https://digitale-sammlungen.ulb.uni-bonn.de/"]:before {
	background-image: var(--uni-bonn);
}

#list_of_abbreviations li a[href^="https://gallica.bnf.fr/"]:before {
	background-image: var(--bnf);
}

#list_of_abbreviations li a[href^="http://archives.getty.edu"]:before {
	background-image: var(--getty);
}

#additions_and_corrections p {
	margin-bottom: 0;
	text-indent: 0;
}

#additions_and_corrections table {
	margin: .5em;
	border-spacing: 0 .5em;
}

#additions_and_corrections td {
	padding: .5em;
	line-height: 1.5;
	border: 1px solid #ffffff33;
}

#additions_and_corrections td.page {
	color: #ffffff;
	text-align: right;
	white-space: nowrap;
	vertical-align: top;
	background: #ffffff11;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}

#additions_and_corrections td.note {
	background: #ffffff07;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	border-left: none;
}

#additions_and_corrections td.note p {
	text-indent: 1em;
	margin: 0;
}





#dictionary {
	
}

#dictionary ul {
	list-style-type: none;
	padding: 0 1em;
}

#dictionary ul .entry {
	overflow-y: hidden;
	list-style-type: none;
	transition: height .25s ease-in-out;
	position: relative;
	display: grid;
	grid-template-columns: 2em 1fr;
	transition: height .5s, grid-template-columns .5s;
}

.temp-padding {
	padding: 0 .5em;
}

#dictionary ul .entry.collapse {
	height: 1.5em !important;
	grid-template-columns: 1em 1fr;
}

#dictionary ul .entry + .entry {
	margin-top: 1em;
}

#dictionary ul .entry .definition p {
	margin: 0;
	padding: 0;
}

#dictionary ul .entry .definition p + p {
	padding-top: .5em;
}

#dictionary ul .entry .togglable {
	box-sizing: border-box;
	background: #ffffff22;
	//width: 2em;
	border-right: 10px solid;
	//border-width: 1px;
	//border-style: solid;
	//border-image: linear-gradient(to bottom, transparent 10px, gray 10px, gray calc(100% - 10px), transparent calc(100% - 10px), transparent 100%) 1 100%;
	//border-top: 0;
	//border-left: 0;
	//border-bottom: 0;
	transition: border .5s;
	left: 0;
	top: 0;
	z-index: 999;
}

#dictionary ul .entry.collapse .togglable {
	//border-image: linear-gradient(to bottom, transparent 0%, transparent 100%) 1 100%;
	//width: 1em;
	border-right: 10px solid;
}

#dictionary ul .entry .definition {
	padding-left: 1em;
	transition: padding .5s;
}

#dictionary ul .entry.collapse .definition {
	padding-left: 0;
	
}

#dictionary ul .entry .definition p {
	line-height: 1.5;
}

#dictionary ul .entry .definition p {
	padding-right: 0em;
	transition: padding-right .5s;
}

#dictionary ul .entry.collapse .definition p {
	padding-left: 0em;
	padding-right: 2em;
}










#english_index .add {
	color: lightblue;
}

#english_index table {
	border-collapse: collapse;
	margin: .5em;
	//border-spacing: 0 .2em;
	width: calc(100% - 1em);
	font-style: italic;
}

#english_index table i {
	font-style: normal;
}

#english_index table td {
	padding: .2em .5em;
	line-height: 1.5;
	border: 1px solid #ffffff33;
}

#english_index table td.term {
	color: #ffffff;
	white-space: nowrap;
	vertical-align: top;
	background: #ffffff11;
	//border-top-left-radius: 5px;
	//border-bottom-left-radius: 5px;
}

#english_index table td.page {
	background: #ffffff07;
	//border-top-right-radius: 5px;
	//border-bottom-right-radius: 5px;
	//border-left: none;
}

#english_index table td.page span {
	white-space: nowrap;
}

#english_index table td.page span:hover {
	color: goldenrod;
}

#greek_index table {
	margin: 1em;
	width: calc(100% - 2em);
}

#greek_index table td {
	padding: .2em .5em;
	line-height: 1.5;
	border: 1px solid #ffffff33;
}

#greek_index table td.term {
	color: lightblue;
	white-space: nowrap;
	background: #ffffff11;
}

#greek_index table td.page {
	background: #ffffff07;
}

#arabic_index table {
	direction: rtl;
	margin: 1em;
	width: calc(100% - 2em);
}

#arabic_index table td {
	padding: .2em .5em;
	line-height: 1.5;
	border: 1px solid #ffffff33;
}

#arabic_index table td.term {
	color: limegreen;
	white-space: nowrap;
	background: #ffffff11;
}

#arabic_index table td.page {
	direction: ltr;
	background: #ffffff07;
}