@import url("../../../styles/styles.css");
@import url("../../styles/styles.css");

ol.lower-alpha {
	list-style-type: lower-alpha;
}

.section,
#preface,
#table_of_contents,
#abbreviations_and_conventions,
#introduction {
	border: 1px solid #333333cc;
	padding: 1em;
	margin: 0;
}

#introduction #alphabet {
	font-size: clamp(.4rem, -0.125rem + 5vw, 3rem);
	max-height: 9em;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	gap: 0em 1em;
	padding: 0;
	justify-content: space-between;
	align-content: center;
}

#introduction #alphabet li {
	display: flex;
	//background: #ffffff11;
}

/*

convertForClamp(840, 360, 2.5, 1);
function convertForClamp(vOldMax, vOldMin, fMax, fMin) {
	let vNewMax = vOldMax / 16;
	let vNewMin = vOldMin / 16;
	let slope = ((fMax - fMin) / (vNewMax - vNewMin));
	let yAxisIntersection = -vNewMin * slope + fMin;
	let preferredValue = slope * 100;
	console.log("Slope:" + slope + "\nY AxisIntersection: " + yAxisIntersection + "\n\nclamp(" + fMin + "rem, " + yAxisIntersection + "rem + " + preferredValue + "vw, " + fMax + "rem)");
}

*/

#introduction #alphabet li .coptic {
	margin-right: .2em;
	width: 1em;
}

#toc {
	
}

#table_of_contents h3 {
	text-align: center;
}

#table_of_contents ul {
	list-style-type: none;
}

#table_of_contents ul#toc {
	padding-left: 0;
}

#table_of_contents ul {
	//padding-left: 1em;
	margin-top: 1em;
}

#table_of_contents #toc li {
	border-bottom: 1px dotted gray;
	position: relative;
	top: 0;
	left: 0;
	line-height: 1.5;
}

#table_of_contents #toc li:has(ul) {
	border-bottom: none;
}

#table_of_contents #toc .section_name {
	background: #111;
	padding-right: 5px;
	position: relative;
	bottom: -5px;
}

#table_of_contents #toc .section_page {
	float: right;
	background: #111;
	padding-left: 5px;
	position: relative;
	bottom: -5px;
}

#abbreviations_and_conventions > ul {
	list-style-type: none;
	padding-left: 0;
}

#abbreviations_and_conventions .abbreviation {
	background: #111;
	padding-right: 5px;
	position: relative;
	bottom: -5px;
}

#abbreviations_and_conventions .term {
	float: right;
	background: #111;
	padding-left: 5px;
	position: relative;
	bottom: -5px;
}

div[id^="lesson_"] h3 {
	color: steelblue;
}

h4 {
	color: orangered;
	margin-top: 1em;
}

div[id^="lesson_"] table {
	//border-collapse: collapse;
	border-spacing: 0;
	border: 1px solid steelblue;
	border-radius: 5px;
	width: 100%;
	margin-block-start: 1em;
	margin-block-end: 1em;
}

div[id^="lesson_"] td,
#lesson_01 th {
	border: 1px solid #ffffff22;
	padding: .5em;
}

div[id^="lesson_"] table th:first-child,
div[id^="lesson_"] table tr:first-child td:first-child {
	border-top-left-radius: 5px;
}

div[id^="lesson_"] table th:last-child,
div[id^="lesson_"] table tr:first-child td:last-child {
	border-top-right-radius: 5px;
}

div[id^="lesson_"] table tr:last-child td:first-child {
	border-bottom-left-radius: 5px;
}

div[id^="lesson_"] table tr:last-child td:last-child {
	border-bottom-right-radius: 5px;
}

.vocabulary {
	list-style-type: none;
	padding-left: 0;
}

.exercises.has-subsection {
	padding-left: 0;
	list-style-position: inside;
}

.exercises.has-subsection > li {
	list-style-type: upper-alpha;
}

div[id^="lesson_"] li:has(> :not(input[type="checkbox"]:checked)) > ul > li:last-child {
	visibility: hidden;
	opacity: 0;
	transition: opacity .5s ease;
}

li:has(> input[type="checkbox"]:checked) > ul > li:last-child {
	visibility: visible;
	color: lightgreen;
	opacity: 1;
	transition: opacity .5s ease;
}

li > input[type="checkbox"] {
	background: none;
	filter: invert(1);
	position: absolute;
}

li:has(> input[type="checkbox"]) {
	position: relative;
	list-style: decimal outside;
	top: 0;
}

ul li:has(> input[type="checkbox"]) {
	list-style: none;
}

li:has(> input[type="checkbox"]) > ul {
	position: relative;
	left: 1.5em;
	list-style-type: none;
	padding-left: 0;
}

/* regex:

\t*<li><span class=\"coptic\">(.+?)<\/span>\n\t+<ul>\n\t+<li>(.+?)<\/li>\n\t+<\/ul>\n\t+<\/li>

or

\t*<li><span class=\"coptic\">(.+?)<\/span><ul><li>(.+?)<\/li><\/ul><\/li>

*/

/* substitute:

<li><input type="checkbox">\n\t<ul>\n\t\t<li class="coptic">$1</li>\n\t\t<li>$2</li>\n\t</ul>\n</li>

*/

/* notepad++ version (i.e. has \r)

\t*<li><span class=\"coptic\">(.+?)<\/span>\r\n\t+<ul>\r\n\t+<li>(.+?)<\/li>\r\n\t+<\/ul>\r\n\t+<\/li>

or

\t*<li><span class=\"coptic\">(.+?)<\/span><ul><li>(.+?)<\/li><\/ul><\/li>








<li><input type="checkbox">\r\n\t<ul>\r\n\t\t<li class="coptic">$1</li>\r\n\t\t<li>$2</li>\r\n\t</ul>\r\n</li>

*/