@import url("../../../styles/styles.css");
@import url("../../styles/styles.css");

.section,
#preface,
#table_of_contents,
#abbreviations_and_conventions,
#introduction {
	border: 1px solid #333333cc;
	padding: 1em;
	margin: 0;
}

#introduction #alphabet {
	font-size: clamp(.4rem, -0.125rem + 5vw, 3rem);
	max-height: 9em;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	gap: 0em 1em;
	padding: 0;
	justify-content: space-between;
	align-content: center;
}

#introduction #alphabet li {
	display: flex;
	//background: #ffffff11;
}

/*

convertForClamp(840, 360, 2.5, 1);
function convertForClamp(vOldMax, vOldMin, fMax, fMin) {
	let vNewMax = vOldMax / 16;
	let vNewMin = vOldMin / 16;
	let slope = ((fMax - fMin) / (vNewMax - vNewMin));
	let yAxisIntersection = -vNewMin * slope + fMin;
	let preferredValue = slope * 100;
	console.log("Slope:" + slope + "\nY AxisIntersection: " + yAxisIntersection + "\n\nclamp(" + fMin + "rem, " + yAxisIntersection + "rem + " + preferredValue + "vw, " + fMax + "rem)");
}

*/

#introduction #alphabet li .coptic {
	margin-right: .2em;
	width: 1em;
}

#toc {
	
}

#table_of_contents h3 {
	text-align: center;
}

#table_of_contents ul {
	list-style-type: none;
}

#table_of_contents ul#toc {
	padding-left: 0;
}

#table_of_contents ul {
	//padding-left: 1em;
	margin-top: 1em;
}

#table_of_contents #toc li {
	border-bottom: 1px dotted gray;
	position: relative;
	top: 0;
	left: 0;
	line-height: 1.5;
}

#table_of_contents #toc li:has(ul) {
	border-bottom: none;
}

#table_of_contents #toc .section_name {
	background: #111;
	padding-right: 5px;
	position: relative;
	bottom: -5px;
}

#table_of_contents #toc .section_page {
	float: right;
	background: #111;
	padding-left: 5px;
	position: relative;
	bottom: -5px;
}

#abbreviations_and_conventions > ul {
	list-style-type: none;
	padding-left: 0;
}

#abbreviations_and_conventions .abbreviation {
	background: #111;
	padding-right: 5px;
	position: relative;
	bottom: -5px;
}

#abbreviations_and_conventions .term {
	float: right;
	background: #111;
	padding-left: 5px;
	position: relative;
	bottom: -5px;
}