@import url("../../../styles/fonts.css");

body {
	font-size: 16px;
	color: gray;
	background: #111;
	font-family: sans-serif;
	margin: 1em;
	padding: 1em;
	line-height: 1.2;
	outline: 1px dotted lightgreen;
}

h1 {
	//display: none;
}

#menu {
	border: 1px solid #ccc;
	display: none;
}

#preface,
#additions_and_corrections,
#list_of_abbreviations,
#dictionary {
	font-size: 1.2em;
}

#preface p {
	//columns: 200px 2;
	//column-rule: 1px solid lightblue;
	//column-gap: 1em;
	//min-height: 100px;
	//border-bottom: 1px dotted gray;
	//padding-bottom: 1em;
}

i.dialect {
	color: steelblue;
}

.dialect sup {
	line-height: 0;
	font-size: inherit;
	font-size: .5em;
	padding-left: 0;
}

.dialect.lycopolitan sup {
	font-style: normal;
}



p sup {
	line-height: 0;
}

p sup a {
	color: #ffb600;
	font-size: 80%;
	font-size: .5em;
	text-decoration: none;
}

#preface .footnotes a {
	color: lime;
	text-decoration: none;
	padding-right: 5px;
	user-select: none;
}

#preface .footnotes li:target {
	background: #ffb60022;
}



#additions_and_corrections ul,
#list_of_abbreviations ul {
	padding-left: .5em;
	list-style-type: none;
}

#list_of_abbreviations > ul > li {
	//display: table;
}

#list_of_abbreviations > ul > li > ul {
	display: table;
	border-collapse: collapse;
}

#list_of_abbreviations > ul > li > ul > li {
	display: table-row;
}

#list_of_abbreviations > ul > li > ul > li > .cell {
	display: table-cell;
	padding: .2em;
	border: 1px solid #333;
}

#list_of_abbreviations a {
	text-decoration: none;
}

#list_of_abbreviations .abbr {
	color: seagreen;
}

#list_of_abbreviations #all .non-source,
#list_of_abbreviations #all .bible {
	display: none;
}

#list_of_abbreviations li a {
	text-decoration: none;
}

#dictionary {
	//outline: 1px solid #ffb600aa;
}

#dictionary ul {
	list-style-type: none;
	padding-left: .5em;
}

#dictionary > ul {
	padding-left: 0;
}

#dictionary > ul li {
	margin-top: .0em;
}

#dictionary .entry {
	margin-top: 2em;
}

#dictionary .entry li.group {
	margin-top: .5em;
	list-style-type: none;
}

#dictionary .entry .group > ul {
	background: #ff00ff11;
	border-left: 1px solid #ffffff55;
	border-bottom: 1px solid #ffffff55;
	border: 1px solid #ffffff55;
	//list-style-position: inside;
}

#dictionary .entry .pos,
#dictionary .entry .subsection {
	margin-top: .5em
}

#dictionary .headword {
	color: violet;
	font-family: rk_coptic;
	font-size: 1.2em;
	line-height: inherit;
}

#dictionary .entry li.group ul {
	padding: .2em .5em;
}


/** vycichl **/

h1, h2, h3, h4, h5 {
	font-weight: normal;
}

h1, h2 {
	text-transform: uppercase;
}

#introduction,
#bibliographie,
#abreviations,
#terminologie_phonetique {
	line-height: 1.5;
}

#bibliographie > ul,
#terminologie_phonetique > ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

#bibliographie > ul > li,
#terminologie_phonetique > ul > li {
	margin-top: .5em;
	padding-left: 1em;
	text-indent: -1em;
}

#bibliographie > ul > li > ul,
#abreviations > ol > li > ul,
#terminologie_phonetique > ul > li > ul {
	padding: 0;
}

#bibliographie > ul > li > ul > li,
#abreviations > ol > li > ul > li,
#terminologie_phonetique > ul > li > ul > li {
	margin-top: .5em;
	list-style-type: none;
}

#bibliographie > ul > li > ul > li:before {
	content: "—: ";
	color: lightgreen;
}

.author {
	color: lightgreen;
	font-variant: small-caps;
}

.phoneme {
	font-family: sans-serif;
	color: steelblue;
}

.dialect {
	color: violet;
}

.egypt-hiero {
	margin-right: .5em;
}

.a:before,
.m:before,
.XVII:before,
.n:before,
.pyr:before,
.XIX:before,
.ME:before,
.e:before,
.derniere:before {
	font-family: sans-serif;
	font-size: 50%;
	vertical-align: top;
	//line-height: 0;
}
.egypt-hiero,
.egypt-translit {
	//line-height: 0;
}

.a:before {
	content: "a";
}

.m:before {
	content: "m";
}

.XVII:before {
	content: "XVII";
}

.n:before {
	content: "n";
}

.pyr:before {
	content: "pyr";
}

.XIX:before {
	content: "XIX";
}

.ME:before {
	content: "ME";
}

.e:before {
	content: "e";
}

.premiere:before {
	content: "*";
}

.derniere:before {
	content: "o";
}

.two-ticks:before {
	content: "\"";
	font-style: normal;
}

#abreviations {
	//outline: 1px dashed gold;
}

#abreviations > ol {
	padding-left: 1em;
	//outline: 1px solid red;
}

#abreviations > ol > li + li {
	list-style-type: upper-roman;
	margin-top: 2em;
}

#terminologie_phonetique {
	
}

#index #les_mots_francais,
#index #les_mots_egyptiens,
#index #les_mots_coptes,
#index #les_mots_grecs,
#index #les_mots_demotiques,
#index #langues_semitiques,
#index #langues_chamitiques,
#index #langues_indo-europeennes,
#index #autres_langues {
	max-height: 500px;
	overflow-y: auto;
}

#index #les_mots_francais h3,
#index #les_mots_egyptiens h3,
#index #les_mots_coptes h3,
#index #les_mots_grecs h3,
#index #les_mots_demotiques h3,
#index #langues_semitiques h3,
#index #langues_chamitiques h3,
#index #langues_indo-europeennes h3,
#index #autres_langues h3 {
	margin: 0;
	padding: .5em .5em;
	border: 1px solid gray;
	position: sticky;
	top: 0;
	background: #222;
}

#index #les_mots_francais table,
#index #les_mots_egyptiens table,
#index #les_mots_coptes table,
#index #les_mots_grecs table,
#index #les_mots_demotiques table,
#index #langues_semitiques table,
#index #langues_chamitiques table,
#index #langues_indo-europeennes table,
#index #autres_langues table {
	border-collapse: collapse;
}

#index #les_mots_francais table td,
#index #les_mots_egyptiens table td,
#index #les_mots_coptes table td,
#index #les_mots_grecs table td,
#index #les_mots_demotiques table td,
#index #langues_semitiques table td,
#index #langues_chamitiques table td,
#index #langues_indo-europeennes table td,
#index #autres_langues table td {
	border: 1px solid gray;
	padding: .5em;
}

#index #les_mots_francais table .term,
#index #les_mots_egyptiens table .term,
#index #les_mots_coptes table .term,
#index #les_mots_grecs table .term,
#index #les_mots_demotiques table .term,
#index #langues_semitiques table .term,
#index #langues_chamitiques table .term,
#index #langues_indo-europeennes table .term,
#index #autres_langues table .term {
	width: 200px;
}

#index #autres_langues {
	border: 1px solid gray;
	border-top: none;
}

#index #langues_indo-europeennes h4,
#index #langues_indo-europeennes div,
#index #autres_langues h4,
#index #autres_langues div {
	padding-left: 1em;
}

#index #langues_chamitiques h4 {
	background: #ffb60033;
}

#index #autres_langues h4 {
	color: gold;
}

#index #autres_langues h5 {
	color: silver;
}

#index #langues_chamitiques > div {
	//margin-bottom: 1em;
}

#index #langues_chamitiques > div > div {
	//float: left;
	display: inline-block;
	padding-right: 1em;
}

#index #langues_chamitiques h4 {
	clear: both;
	margin-top: 1em;
	padding: .5em;
}

#index #autres_langues div,
#index #langues_indo-europeennes div {
	float: left;
	min-height: 200px;
}

#index #autres_langues h4,
#index #langues_indo-europeennes h4 {
	clear: both;
}

#index > * {
	padding-bottom: 1em;
}

#index_toc ul {
	list-style-type: none;
}

#index_toc > ul {
	padding-left: 0;
}

#index_toc ul ul {
	padding-left: 1em;
}

#index_toc li {
	border-bottom: 1px dotted gray;
	position: relative;
	top: 0;
	left: 0;
	line-height: 1.5;
}

#index_toc li:has(ul) {
	border-bottom: none;
}

#index_toc .section_name {
	background: #111;
	padding-right: 5px;
	position: relative;
	bottom: -5px;
}

#index_toc .section_page {
	float: right;
	background: #111;
	padding-left: 5px;
	position: relative;
	bottom: -5px;
}