@import url("../../../styles/styles.css");

#menu {
	border: 1px solid #ccc;
	display: none;
}

#carte {
	background: linear-gradient(90deg, #3f3f3f, #2f2f2f);
	margin-top: 1em;
	padding: .5em 0;
}

#carte img {
	width: 100%;
	max-width: 1000px;
	display: block;
	filter: invert(1) grayscale(1);
	rotate: -0.4deg;
	margin: auto;
}

i.dialect {
	color: steelblue;
}

#bibliographie > ul,
#terminologie_phonetique > ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

#bibliographie > ul > li,
#terminologie_phonetique > ul > li {
	margin-top: .5em;
	padding-left: 1em;
	text-indent: -1em;
}

#bibliographie > ul > li > ul,
#abreviations > ol > li > ul,
#terminologie_phonetique > ul > li > ul {
	padding: 0;
}

#bibliographie > ul > li > ul > li,
#abreviations > ol > li > ul > li,
#terminologie_phonetique > ul > li > ul > li {
	margin-top: .5em;
	list-style-type: none;
}

#bibliographie > ul > li > ul > li:before {
	content: "—: ";
	color: lightgreen;
}

.author {
	color: lightgreen;
	font-variant: small-caps;
}

.phoneme {
	font-family: sans-serif;
	color: steelblue;
}

.dialect {
	color: violet;
}

.egypt-hiero {
	margin-right: .5em;
}

.a:before,
.m:before,
.XVII:before,
.n:before,
.pyr:before,
.XIX:before,
.ME:before,
.e:before,
.derniere:before {
	font-family: sans-serif;
	font-size: 50%;
	vertical-align: top;
	//line-height: 0;
}
.egypt-hiero,
.egypt-translit {
	//line-height: 0;
}

.a:before {
	content: "a";
}

.m:before {
	content: "m";
}

.XVII:before {
	content: "XVII";
}

.n:before {
	content: "n";
}

.pyr:before {
	content: "pyr";
}

.XIX:before {
	content: "XIX";
}

.ME:before {
	content: "ME";
}

.e:before {
	content: "e";
}

.premiere:before {
	content: "*";
}

.derniere:before {
	content: "o";
}

.two-ticks:before {
	content: "\"";
	font-style: normal;
}

#abreviations {
	//outline: 1px dashed gold;
}

#abreviations > ol {
	padding-left: 1em;
	//outline: 1px solid red;
}

#abreviations > ol > li + li {
	list-style-type: upper-roman;
	margin-top: 2em;
}

#index h3 + div {
	margin-bottom: 1em;
}

#index > div {
	max-height: 500px;
	width: calc(100% - 1px);
	overflow-y: auto;
	overflow-y: scroll;
	overflow-x: hidden;
	margin-top: 1em;
	border: 1px solid #ffffff22;
}

:is(#les_mots_egyptiens, #les_mots_demotiques, #langues_semitiques) td.middle {
	width: 100%;
}

:is(#les_mots_francais, #les_mots_grecs) td.middle {
	display: none;
}

#index td.term, #index td.page {
	white-space: nowrap;
}

#index td.page {
	text-align: right;
}

#index :is(h3, h4, h5) {
	padding: 0em .5em;
	border: 1px solid gray;
	background: #222;
}

#index  table {
	border-collapse: collapse;
	width: calc(100%);
}

#index table td {
	border: 1px solid #ffffff22;
	padding: .5em;
	vertical-align: top;
}

#index > * > table i {
	color: lightblue;
}

#index #autres_langues h4 {
	color: gold;
}

#index h5 {
	color: silver;
}

#index :is(h4, h5) {
	margin-top: 1em;
}

#index_toc {
	//outline: 1px dashed #ffffff33;
}

#index_toc ul {
	list-style-type: none;
}

#index_toc > ul {
	padding-left: 0;
}

#index_toc ul ul {
	padding-left: 1em;
}

#index_toc li {
	border-bottom: 1px dotted gray;
	position: relative;
	top: 0;
	left: 0;
	line-height: 1.5;
}

#index_toc li:has(ul) {
	border-bottom: none;
}

#index_toc .section_name {
	background: #111;
	padding-right: 5px;
	position: relative;
	bottom: -5px;
}

#index_toc .section_page {
	float: right;
	background: #111;
	padding-left: 5px;
	position: relative;
	bottom: -5px;
}