@import url("../../../styles/fonts.css");

body {
	font-size: 16px;
	color: gray;
	background: #111;
	font-family: sans-serif;
	margin: 1em;
	padding: 1em;
	line-height: 1.2;
	outline: 1px dotted lightgreen;
}

h1 {
	//display: none;
}

#menu {
	border: 1px solid #ccc;
	display: none;
}

#preface,
#additions_and_corrections,
#list_of_abbreviations,
#dictionary {
	font-size: 1.2em;
}

#preface p {
	//columns: 200px 2;
	//column-rule: 1px solid lightblue;
	//column-gap: 1em;
	//min-height: 100px;
	//border-bottom: 1px dotted gray;
	//padding-bottom: 1em;
}

i.dialect {
	color: steelblue;
}

.dialect sup {
	line-height: 0;
	font-size: inherit;
	font-size: .5em;
	padding-left: 0;
}

.dialect.lycopolitan sup {
	font-style: normal;
}



p sup {
	line-height: 0;
}

p sup a {
	color: #ffb600;
	font-size: 80%;
	font-size: .5em;
	text-decoration: none;
}

#preface .footnotes a {
	color: lime;
	text-decoration: none;
	padding-right: 5px;
	user-select: none;
}

#preface .footnotes li:target {
	background: #ffb60022;
}



#additions_and_corrections ul,
#list_of_abbreviations ul {
	padding-left: .5em;
	list-style-type: none;
}

#list_of_abbreviations > ul > li {
	//display: table;
}

#list_of_abbreviations > ul > li > ul {
	display: table;
	border-collapse: collapse;
}

#list_of_abbreviations > ul > li > ul > li {
	display: table-row;
}

#list_of_abbreviations > ul > li > ul > li > .cell {
	display: table-cell;
	padding: .2em;
	border: 1px solid #333;
}

#list_of_abbreviations a {
	text-decoration: none;
}

#list_of_abbreviations .abbr {
	color: seagreen;
}

#list_of_abbreviations #all .non-source,
#list_of_abbreviations #all .bible {
	display: none;
}

#list_of_abbreviations li a {
	text-decoration: none;
}

#dictionary {
	//outline: 1px solid #ffb600aa;
}

#dictionary ul {
	list-style-type: none;
	padding-left: .5em;
}

#dictionary > ul {
	padding-left: 0;
}

#dictionary > ul li {
	margin-top: .0em;
}

#dictionary .entry {
	margin-top: 2em;
}

#dictionary .entry li.group {
	margin-top: .5em;
	list-style-type: none;
}

#dictionary .entry .group > ul {
	background: #ff00ff11;
	border-left: 1px solid #ffffff55;
	border-bottom: 1px solid #ffffff55;
	border: 1px solid #ffffff55;
	//list-style-position: inside;
}

#dictionary .entry .pos,
#dictionary .entry .subsection {
	margin-top: .5em
}

#dictionary .headword {
	color: violet;
	font-family: rk_coptic;
	font-size: 1.2em;
	line-height: inherit;
}

#dictionary .entry li.group ul {
	padding: .2em .5em;
}


/** vycichl **/

h1, h2, h3 {
	font-weight: normal;
}

h1, h2 {
	text-transform: uppercase;
}

#introduction,
#bibliographie,
#abreviations,
#terminologie_phonetique {
	line-height: 1.5;
}

#bibliographie > ul,
#terminologie_phonetique > ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

#bibliographie > ul > li,
#terminologie_phonetique > ul > li {
	margin-top: .5em;
	padding-left: 1em;
	text-indent: -1em;
}

#bibliographie > ul > li > ul,
#abreviations > ol > li > ul,
#terminologie_phonetique > ul > li > ul {
	padding: 0;
}

#bibliographie > ul > li > ul > li,
#abreviations > ol > li > ul > li,
#terminologie_phonetique > ul > li > ul > li {
	margin-top: .5em;
	list-style-type: none;
}

#bibliographie > ul > li > ul > li:before {
	content: "—: ";
	color: lightgreen;
}

.author {
	color: lightgreen;
	font-variant: small-caps;
}

.phoneme {
	font-family: sans-serif;
	color: steelblue;
}

.dialect {
	color: violet;
}

.egypt-hiero {
	margin-right: .5em;
}

.a:before,
.m:before,
.XVII:before,
.n:before,
.pyr:before,
.XIX:before,
.ME:before,
.e:before,
.derniere:before {
	font-family: sans-serif;
	font-size: 50%;
	vertical-align: top;
	//line-height: 0;
}
.egypt-hiero,
.egypt-translit {
	//line-height: 0;
}

.a:before {
	content: "a";
}

.m:before {
	content: "m";
}

.XVII:before {
	content: "XVII";
}

.n:before {
	content: "n";
}

.pyr:before {
	content: "pyr";
}

.XIX:before {
	content: "XIX";
}

.ME:before {
	content: "ME";
}

.e:before {
	content: "e";
}

.premiere:before {
	content: "*";
}

.derniere:before {
	content: "o";
}

.two-ticks:before {
	content: "\"";
	font-style: normal;
}

#abreviations {
	//outline: 1px dashed gold;
}

#abreviations > ol {
	padding-left: 1em;
	//outline: 1px solid red;
}

#abreviations > ol > li + li {
	list-style-type: upper-roman;
	margin-top: 2em;
}

#terminologie_phonetique {
	
}