@import url("../../../styles/styles.css");

body {
	font-size: 16px;
	color: gray;
	background: #111;
	font-family: "Noto Sans", sans-serif;
	margin: 1em;
}

#title {
	display: none;
}

#title .uppercase {
	text-transform: uppercase;
}

.smallcaps {
	font-variant: small-caps;
}

#title :is(h1, p) {
	text-align: center;
}

h2 {
	text-transform: uppercase;
}

p.edition_info {
	width: 25%;
	margin: auto;
	display: block;
	text-align: justify !important;
}

#toc > ul > li > ol {
	list-style-type: upper-roman;
}

#toc > ul > li > ol > li > ol {
	list-style-type: lower-alpha;
}

#toc > ul > li > ol > li > ol > li > ol > li {
	list-style-type: decimal;
}

#toc > ul > li > ol > li {
	
}

#toc ul > li > ul > li a,
#toc ul > li > ol > li > ol > li a,
#toc ul > li > ol > li > ol > li > ol > li {
	//display: block;
	border-bottom: 1px dotted gray;
}

#toc ul > li > ul > li a {
	
	
}

#toc li .section_page {
	float: right;
}

#toc li:has(ol) {
	//border-bottom: none;
}

#toc .section_name {
	//background: #111;
	//padding-right: 5px;
	//position: relative;
	//bottom: -5px;
}

#toc .section_page {
	//float: right;
	//background: #111;
	//padding-left: 5px;
	//position: relative;
	//bottom: -5px;
}