@import url("../../styles/styles.css");

#hieroglyph_editor {
	
}

#interface {
	display: grid;
	gap: .5em;
	padding: .5em;
	background: transparent;
}

#preview_area {
	color: lightblue !important;
	font-size: 2em;
	font-family: rk_egypt-hiero;
	padding: .5rem;
	min-height: 4rem;
	max-height: 11rem;
	background: #000;
	color: #ffb60000;
	transition: color .5s ease-in-out;
	overflow-x: hidden;
	overflow-y: scroll;
	line-break: anywhere;
}

#schematic_area {
	color: gold;
	font-size: 2em;
	font-family: rk_egypt-hiero-pdf, rk_variant-selectors;
	padding: .5rem;
	min-height: 4rem;
	max-height: 11rem;
	background: #000;
	color: #ffb60000;
	transition: color .5s ease-in-out;
	overflow-x: hidden;
	overflow-y: scroll;
	line-break: anywhere;
}

#typing_area {
	padding: 0em;
	margin: 0;
	display: block;
}

#typing_area textarea {
	background: #000000;
	font-family: monospace;
	color: lightgreen;
	padding: .5rem;
	font-size: 2em;
	display: block;
	width: 100%;
	max-width: 100%;
	min-height: 4rem;
	max-height: 11rem;
	resize: none;
	line-break: anywhere;
	border: none;
	height: 100%;
	box-sizing: border-box;
	overflow-x: hidden;
	overflow-y: scroll;
}

fieldset {
	border: 1px solid lightgreen;
}

legend {
	color: lightgreen;
	font-size: 1.2em;
}

.fc {
	color: gray !important;
}

#format_control_buttons {
	display: flex;
	flex-wrap: wrap;
	gap: 5px;
}

#format_control_buttons > * {
	background: linear-gradient(-225deg, maroon, black);
	background: gray;
	background: #111;
	background: lightgreen;
	background: #000;
	width: 3em;
	padding: 5px;
	border: 1px solid black;
	border: none;
	
}

#format_control_buttons p {
	display: none;
	margin: 0;
	background: lightblue;
}

#format_control_buttons p span:first-child {
	display: none;
}

#format_control_buttons p span:last-child {
	display: none;
}

#format_control_buttons button {
	background: lightgreen;
	background: transparent;
	aspect-ratio: 1;
	padding: 0;
	display: block;
	cursor: pointer;
	border: none;
	font-family: rk_egypt-hiero-pdf, rk_variant-selectors;
	color: lightgreen;
	font-size: 3em;
	width: 100%;
	scale: 1;
	//transition: scale .5s ease-out;
}

#format_control_buttons button:hover {
	color: gold;
	scale: .9;
}

/*
#format_control_buttons img {
	display: block;
	background: lightgreen;
	mix-blend-mode: difference;
	width: 100%;
	aspect-ratio: 1;
}
*/