@import url("../../styles/styles.css");

#hieroglyph_editor {
	
}

#interface {
	display: grid;
	gap: .5em;
	padding: .5em;
	background: #111111;
	position: sticky;
	top: 0;
	z-index: 999;
	
}

#preview_area {
	color: lightblue !important;
	font-size: 2em;
	font-family: rk_egypt-hiero;
	padding: .5rem;
	min-height: 4rem;
	max-height: 11rem;
	background: #000;
	color: #ffb60000;
	transition: color .5s ease-in-out;
	overflow-x: hidden;
	overflow-y: scroll;
	line-break: anywhere;
}

#schematic_area {
	color: gold;
	font-size: 2em;
	font-family: rk_egypt-hiero-pdf, rk_variant-selectors;
	padding: .5rem;
	min-height: 4rem;
	max-height: 11rem;
	background: #000;
	color: #ffb60000;
	transition: color .5s ease-in-out;
	overflow-x: hidden;
	overflow-y: scroll;
	line-break: anywhere;
	pointer-events: none;
	user-select: none;
}

#typing_area {
	padding: 0em;
	margin: 0;
	display: block;
}

#typing_area textarea {
	background: #000000;
	font-family: monospace;
	color: lightgreen;
	padding: .5rem;
	font-size: 3em;
	display: block;
	width: 100%;
	max-width: 100%;
	min-height: 4rem;
	max-height: 11rem;
	resize: none;
	//line-break: anywhere;
	border: none;
	height: 100%;
	box-sizing: border-box;
	overflow-x: hidden;
	overflow-y: scroll;
}

fieldset {
	border: 1px solid lightgreen;
}

legend {
	color: lightgreen;
	font-size: 1.2em;
}

fieldset pre {
	margin: 0;
	white-space: break-spaces;
}

.fc {
	color: gray !important;
}

#hieroglyphs {
	margin-top: 1em;
}

#format_control_buttons,
#hieroglyphs {
	display: flex;
	flex-wrap: wrap;
	gap: 1em;
	justify-content: space-between;
}

#format_control_buttons > *,
#hieroglyphs > div {
	width: 3em;
	
	
}

#format_control_buttons p {
	margin: 0;
	display: flex;
	justify-content: center;
	margin-top: -1em;
}

#format_control_buttons p span:first-child {
	display: none;
}

#format_control_buttons p span:last-child {
	font-family: monospace;
	position: relative;
	text-align: center;
	margin-bottom: .5em;
	user-select: none;
}

#format_control_buttons p span:last-child:before {
	content: "⃣";
	font-size: 1.5em;
	position: relative;
	top: 1em;
	//left: 0em;
	//text-align: center;
	display: block;
	padding: 0;
	margin: 0;
}

#format_control_buttons button,
#hieroglyphs button {
	background: lightgreen;
	background: transparent;
	aspect-ratio: 1;
	margin: 0;
	padding: 0;
	padding-block: 0;
	padding-inline: 0;
	display: block;
	cursor: pointer;
	border: none;
	font-family: rk_egypt-hiero-pdf, rk_variant-selectors;
	color: lightgreen;
	font-size: 3em;
	width: 100%;
	scale: 1;
	//transition: scale .5s ease-out;
	user-select: none;
}

#format_control_buttons button {
	user-select: none;
}

#hieroglyphs button {
	border: 1px solid #333333cc;
	background: #ffffff11;
	border-radius: 10px;
}

#format_control_buttons button:hover,
#hieroglyphs button:hover {
	color: gold;
	scale: .9;
}

/*
#format_control_buttons img {
	display: block;
	background: lightgreen;
	mix-blend-mode: difference;
	width: 100%;
	aspect-ratio: 1;
}
*/