@import url("../../styles/styles.css");

#interface {
	display: grid;
	gap: .5em;
	padding: .5em;
}

#info code {
	background: #000000;
	color: pink;
	font-family: monospace;
}

fieldset {
	border: 1px solid lightgreen;
	background: #000000;
	margin: 0;
	padding: 1rem;
	position: relative;
	box-sizing: border-box;
	line-height: 1.5;
	z-index: 999;
}

fieldset:before {
	content: "";
	display: block;
	position: absolute;
	top: 1rem;
	bottom: 1rem;
	width: calc(100% - 2rem);
	background: linear-gradient(to bottom, #000000 0% 10%, transparent 20% 80%, #000000 90% 100%);
}

fieldset > div {
	font-size: 1.5em;
	box-sizing: border-box;
	position: relative;
	max-height: 6rem;
	overflow-y: scroll;
}

legend {
	color: lightgreen;
}

#preview_area,
#schematic_area,
#typing_area,
#button_container {
	
}

#preview_area,
#schematic_area,
#typing_area {
	position: relative;
	padding-top: 1rem;
	padding-bottom: 1rem;
	background: #000000;
	margin: 0;
	line-height: 1.5;
	line-break: anywhere;
	min-height: calc(1em + 0.5em);
}

#preview_area {
	color: lightblue !important;
	font-family: monospace, rk_egypt-hiero;
	z-index: -999;
}

#schematic_area {
	color: #ffb60000;
	font-family: monospace, rk_egypt-hiero-pdf, rk_variant-selectors;
	//pointer-events: none;
	//user-select: none;
	z-index: -999;
}

#typing_area {
	background: #000000;
	box-sizing: border-box;
	display: block;
	font-family: monospace;
	color: lightgreen;
	width: 100% !important;
	//line-break: anywhere;
	border: none;
	font-size: inherit;
	outline: none;
	
}

fieldset div:has(#typing_area) {
	max-height: none;
}









fieldset pre {
	margin: 0;
	white-space: break-spaces;
}

.fc {
	color: gray !important;
}

#hieroglyphs {
	margin-top: 1em;
	justify-content: center;
	gap: .2em;
}

#format_control_buttons,
#hieroglyphs {
	display: flex;
	flex-wrap: wrap;
	gap: .2em;
	justify-content: center;
}

#format_control_buttons > *,
#hieroglyphs > div {
	width: 3em;
	overflow-x: clip;
	
}

#format_control_buttons p {
	margin: 0;
	display: flex;
	justify-content: center;
	//margin-top: -1em;
}

#format_control_buttons p span:first-child {
	display: none;
}

#format_control_buttons p span:last-child {
	font-family: monospace;
	position: relative;
	text-align: center;
	margin-bottom: .5em;
	user-select: none;
}

#format_control_buttons p span:last-child:before {
	content: "⃣";
	font-size: 1.5em;
	position: relative;
	top: 1em;
	//left: 0em;
	//text-align: center;
	display: block;
	padding: 0;
	margin: 0;
}

#format_control_buttons button,
#hieroglyphs button {
	background: lightgreen;
	background: transparent;
	//aspect-ratio: 1;
	margin: 0;
	padding: 0;
	padding-block: 0;
	padding-inline: 0;
	display: block;
	cursor: pointer;
	border: none;
	font-family: rk_egypt-hiero-pdf, rk_variant-selectors;
	color: lightgreen;
	font-size: 3em;
	width: 100%;
	scale: 1;
	//user-select: none;
}

#format_control_buttons button {
	user-select: none;
}

#hieroglyphs button {
	border: 1px solid #333333cc;
	background: #ffffff11;
	border-radius: 10px;
}

#format_control_buttons button:hover,
#hieroglyphs button:hover {
	color: gold;
	scale: .9;
}