body {
	background: silver;
	font-family: "Noto Sans", sans-serif;
}

h1 {
	margin: 0;
}

h2 {
	position: sticky;
	top: .5em;
	background: white;
}

h3 {
	position: sticky;
	background: black;
	color: violet;
	top: 2.5em;
}

h4 {
	position: sticky;
	background: grey;
	color: gold;
	top: 5em;
}

#toc {
	background: #333;
	color: gold;
	outline: 1px solid brown;
	position: fixed;
	top: calc(10px + 0em);
	left: 10px;
	overflow-y: scroll;
	transition: opacity .5s, width .5s, height .5s;
	width: 0em;
	height: 2em;
	padding-left: 2em;
}

#toc h1{
	opacity: 1;
}

#toc:hover h1 {
	opacity: 0;
}

#toc:hover {
	width: 70%;
	height: 50%;
}

#toc:after {
	content: "";
	background: black;
	outline: 1px solid white;
	position: fixed;
	top: 10px;
	left: 10px;
	width: 2em;
	height: 2em;
	transition: background .5s infinite alternate;
}

#toc:hover:before {
	
}

#toc a {
	color: violet;
}

#title,
#preface,
#abreviations_conventionnelles,
#grammaire {
	outline: 1px solid black;
	padding-left: 2.5em;
	padding-top: 1em;
	padding-bottom: 1em;
}

@font-face {
	font-family: rk_coptic;
	src: url("./NotoSansCoptic.ttf");
/* 	src: local("Noto Sans Coptic Regular"); */
	unicode-range:
		U+03E2-03EF, /* greek and coptic */ 
		U+2C80-2CFF, /* coptic */
		U+0304, /* normal stroke */
		U+0305, /* number, abbr., etc. */
		U+033F, /* double stroke */
		U+FE24, /* left half stroke */
		U+FE26, /* long stroke */
		U+FE25, /* right half stroke */

		U+035E, /* double combine stroke */
		U+0323, /* combine dot under */
		U+0307, /* combine dot over */
		U+0301, /* combine acute */
		U+0300, /* combine grave */
		U+0302, /* combine circumflex pointed */
		U+0311, /* combine circumflex curved */
		U+0361, /* wide inverted breve */
		U+0308, /* combine diaeresis */

		U+00B7, /* middle dot */
		U+2E17; /* slanted double hyphen */;
}

@font-face {
	font-family: rk_greek;
	src: url("./NotoSans.ttf");
/* 	src: local("Noto Sans"); */
	unicode-range: U+0370-03FF, U+1F00-1FFF;
}

@font-face {
	font-family: rk_arabic;
	src: url("./NotoSansArabic.ttf");
/* 	src: local("Noto Sans Arabic"); */
	unicode-range: U+0600–06FF;
}

em {
	color: darkblue;
	font-family: rk_coptic, rk_greek, rk_arabic;
	font-style: normal;
}

.ar {
	color: darkred;
	direction: rtl;
}

.gr {
	color: darkgreen;
}