@import url("../../../styles/styles.css");

body {
	margin: .5em;
	padding: 0;
	outline: none;
}

#extended {
	color: goldenrod;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: .5em;
}

#extended > * {
	display: flex;
	background: linear-gradient(to right, #fdab0e, #fb4545);
	border-radius: 10px;
}

#extended > * .pdf,
#extended > * .real {
	color: #ffffff;
	background: #000000;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	width: 100%;
	mix-blend-mode: multiply;
}

#extended .real,
#extended .pdf {
	border: 1px solid white;
	border-radius: 10px;
	
}


#extended .pdf {
	border-right: none;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}


#extended .real {
	border-left: none;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}

#extended .real > div,
#extended .pdf > div {
	display: grid;
	padding: .2em 0 0 .2em;
}

#extended .pdf > div:has(.glyph) {
	display: flex;
	align-items: center;
	align-content: center;
	justify-content: center;
	flex-wrap: wrap;
	//width: 1em;
	overflow-x: hidden;
	background: #000000;
	
}

#extended .real > div:has(.real-glyph) {
	//display: flex;
	//align-items: center;
	//align-content: center;
	//justify-content: center;
	//flex-wrap: wrap;
	//background: #00ff0022;
	//width: 1em;
	overflow-x: hidden;
}

#extended .hex,
#extended .dec,
#extended .oct,
#extended .real-hex,
#extended .real-dec,
#extended .real-oct {
	font-family: monospace;
	font-size: .5em;
	text-transform: uppercase;
	margin: .5em;
}


#extended .glyph,
#extended .real-glyph {
	display: block;
	margin: 0;
	padding: 0;
	font-size: 3em;
	//overflow-x: clip;
	width: 1em;
	line-height: 1.5;
}

#extended .real {
	//order: -1;
}

#extended .real-hex {
	color: lightgreen;
}

#extended .glyph {
	font-family: rk_egypt-hiero-pdf-2;
}

#extended .real-glyph {
	font-family: rk_egypt-hiero;
}