body {
	font-size: 1.5em;
	color: gray;
	background: black;
}

em {
	color: lightgreen;
	font-family: rk_maltese;
	font-style: normal;
}

em.ipa {
	color: violet;
	font-family: rk_ipa;
	font-style: normal;
}

@font-face {
	font-family: rk_maltese;
	src: url("./Afacad.ttf");
}

@font-face {
	font-family: rk_ipa;
	src: url("./Voces.ttf");
}