*:has(h2) > *:not(h2),
*:has(h3) > *:not(h3) {
	//display: block;
}

.collapse > *:not(h2, h3) {
	display: none;
}

*.collapse :is(h2, h3):before {
	content: "➕ ";
}

:is(h2, h3):before {
	content: "➖ ";
	color: lightgreen;
	display: inline-block;
}