@import url("./fonts.css");
@import url("./interactive.css");
@import url("./prism.css");

body {
	font-size: 16px;
	color: gray;
	background: #111;
	font-family: "Noto Sans", sans-serif;
	margin: 1em;
	padding: 1em;
	outline: 1px dotted lightgreen;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
	//text-transform: uppercase;
	margin: 0;
}

h1 {
	color: lightblue;
}

h2 {
	color: gold;
}

a {
	text-decoration: none;
	color: lightgreen;
}

img {
	max-width: 300px;
}

#container {
	display: flex;
	text-direction: row;
	flex-wrap: wrap;
}