@import url("./fonts.css");

body {
	font-size: 16px;
	color: gray;
	background: #111;
	font-family: sans-serif;
	margin: 1em;
	padding: 1em;
	line-height: 1.2;
	outline: 1px dotted lightgreen;
}

a {
	text-decoration: none;
	color: lightgreen;
}

h1, h2 {
	font-family: "Noto Sans";
	font-weight: normal;
	margin: 0;
}

h1 {
	color: lightblue;
}

h2 {
	color: gold;
}

.dialect {
	color: violet;
}

img {
	max-width: 300px;
}